<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
    </head>
    <body>
        <section class="top-products">
            <div class="container">
                <h1 class="section-heading">Products</h1>
                <div class="slider">
                    <button class="slider-btn prev-btn"><img src="/icons/pre.svg" alt=""></button>
                    <button class="slider-btn next-btn"><img src="/icons/next.svg" alt=""></button>
                    <div class="food-slider">
                        <div class="food-card magic-shadow-sm">
                            <div class="product-image flex items-center justify-center">
                                <img src="/images/plate-1.png" alt="">
                            </div>
                            <hr>
                            <div>
                                <h2 class="text-center">Summer Salad</h2>
                                <div class="stars flex justify-center items-center">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                </div>
                                <div class="price text-center">
                                    $ 1.25
                                </div>
                                <div class="flex justify-center">
                                    <button>
                                        <img src="/icons/cart-2.svg" alt="">
                                        <span>Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="food-card magic-shadow-sm">
                            <div class="product-image flex items-center justify-center">
                                <img src="/images/plate-2.png" alt="">
                            </div>
                            <hr>
                            <div>
                                <h2 class="text-center">Russian Salad</h2>
                                <div class="stars flex justify-center items-center">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                </div>
                                <div class="price text-center">
                                    $ 1.25
                                </div>
                                <div class="flex justify-center">
                                    <button>
                                        <img src="/icons/cart-2.svg" alt="">
                                        <span>Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="food-card magic-shadow-sm">
                            <div class="product-image flex items-center justify-center">
                                <img src="/images/plate-3.png" alt="">
                            </div>
                            <hr>
                            <div>
                                <h2 class="text-center">Greek Salad</h2>
                                <div class="stars flex justify-center items-center">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                </div>
                                <div class="price text-center">
                                    $ 1.25
                                </div>
                                <div class="flex justify-center">
                                    <button>
                                        <img src="/icons/cart-2.svg" alt="">
                                        <span>Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="food-card magic-shadow-sm">
                            <div class="product-image flex items-center justify-center">
                                <img src="/images/plate-3.png" alt="">
                            </div>
                            <hr>
                            <div>
                                <h2 class="text-center">Cottage pie</h2>
                                <div class="stars flex justify-center items-center">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/start-filled.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                    <img src="/icons/star-grey.svg" alt="">
                                </div>
                                <div class="price text-center">
                                    $ 1.25
                                </div>
                                <div class="flex justify-center">
                                    <button>
                                        <img src="/icons/cart-2.svg" alt="">
                                        <span>Add to cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center btn-wrapper">
                    <button class="btn btn-secondary">View More</button>
                </div>
            </div>
        </section>
    </body>
</html>